<h1 class="title"><%= @game.name %></h1>

<% if @game.stopped? %>
  <strong>(GAME IS FINISHED)</strong>
<% else %>
  <div id="play" data-controller="play hotkeys" data-play-id="<%= @play.id %>" data-hotkeys-bindings-value='{"ctrl+enter, cmd+enter": "#play->play#submit"}'>
    <progress data-play-target="timeLeft" class="progress is-small is-primary" max="100">15%</progress>

    <%= render partial: "keyboard_shortcuts_modal" %>

    <% controls = '{
      "left": "#cards->card#previous",
      "right": "#cards->card#next",
      "w": "#cards->card#writeMode"
    }' %>

    <%= form_with url: game_play_answers_path(@game, @play), data: { play_target: "playForm" } do |form| %>
      <div id="cards" data-controller="card hotkeys" data-hotkeys-bindings-value="<%= controls %>" data-card-target="cards" data-play-index-value="1">
        <div class="block">
          <% @questions.each do |question| %>
            <div class="card" data-card-target="card" data-card-id="<%= card(question).id %>">
              <div class="card-content">
                <div class="columns is-centered">
                  <div class="column has-text-centered is-2">
                    <p class="is-size-1">
                      <%= question(question) %>
                    </p>
                  </div>
                </div>
              </div>

              <hr class="navbar-divider">

              <footer class="card-content">
                <div class="columns is-centered">
                  <div class="column has-text-centered is-6">
                    <p class="is-size-6">
                      <%= form.text_area(:attempt, {
                        id: "attempt-#{card(question).id}",
                        name: "answers[]",
                        class: "attempt input",
                        type: "text",
                        placeholder: "Answer",
                        tabindex: "-1",
                        value: attempted_answer(question) }) %>

                      <div tabindex="1"></div>

                    <%= form.hidden_field "card_ids[]", value: card(question).id %>
                    </p>
                  </div>
                </div>
              </footer>
            </div>
          <% end %>
        </div>
        <%= form.submit "Done", class: "button is-link" %>
      </div>
    <% end %>
  </div>
<% end %>
