<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<% if @game.stopped? %>
  <strong>(GAME IS FINISHED)</strong>
<% else %>
  <div data-controller="game" data-game-id="<%= @game.id %>">
    <div data-game-target="timeLeft">
      N/A
    </div>

    <strong>(started)</strong>

    <div data-controller="play" data-play-id="<%= @play.id %>" data-play-index-value="1">
      <button data-action="play#previous">←</button>
      <button data-action="play#next">→</button>

      <% @questions.each do |question| %>
        <div data-play-target="playCard" data-card-id="<%= card(question).id %>">
          <div class="field">
            <label class="label"><%= question(question) %></label>
            <div class="control">
              <input class="input" type="text" placeholder="Answer" value="<%= attempted_answer(question) %>">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
