<h1 class="title"><%= @game.name %></h1>

<% if @game.stopped? %>
  <strong>(GAME IS FINISHED)</strong>
<% else %>
  <div id="play" data-controller="play" data-play-id="<%= @play.id %>">
    <progress data-play-target="timeLeft" class="progress is-small is-primary" max="100">15%</progress>

    <strong>(started)</strong>

    <%= form_with url: game_play_answers_path(@game, @play), data: { play_target: "playForm" } do |form| %>
      <%= form.submit "Done" %>

      <div data-controller="card" data-play-index-value="1">
        <a data-action="card#previous">←</a>
        <a data-action="card#next">→</a>

        <% @questions.each do |question| %>
          <div data-card-target="card" data-card-id="<%= card(question).id %>">
            <div class="field">
              <label class="label"><%= question(question) %></label>
              <div class="control">
                <%= form.text_field(:attempt, {
                  name: "answers[]",
                  class: "input",
                  type: "text",
                  placeholder: "Answer",
                  value: attempted_answer(question) }) %>

                <%= form.hidden_field "card_ids[]", value: card(question).id %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
