<header class="hero is-light">
  <div class="hero-head">
    <nav aria-label="main navigation" class="navbar has-shadow" role="navigation">
      <div class="navbar-brand">
        <a href="/" class="navbar-item is-brand">
          <img alt="勉強 Benkyou" class="navbar-brand-logo" src="<%= asset_path("logo.svg") %>"/>
        </a>

        <% if current_user %>
          <%= link_to "Games", games_path, class: "navbar-item is-tab is-hidden-mobile" %>
          <%= link_to "Decks", decks_path, class: "navbar-item is-tab is-hidden-mobile" %>
        <% end %>

        <%= link_to "About", about_index_path, class: "navbar-item is-tab is-hidden-mobile" %>
      </div>

      <div class="navbar-menu navbar-end" id="navMenu">
        <% if current_user.present? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <figure class="image is-32x32" style="margin-right:.5em;">
                <%= image_tag(current_user.avatar_url) %>
              </figure>

              <%= current_user.full_name %>
            </a>

            <div class="navbar-dropdown is-right">
              <%= link_to destroy_user_session_path, class: "navbar-item", method: :delete, rel: "nofollow" do %>
                <span class="icon"><i class="fa fa-fw fa-power-off"></i></span>
                <span>Logout</span>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to "/users/auth/google_oauth2", class: "is-arrowless navbar-link button is-text", method: :post, rel: "nofollow" do %>
              Sign up • Login with Google
            <% end %>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
</header>


<%# else %>
