<%= form_with(model: game) do |form| %>
  <div class="block">
    <div class="field">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "input" %>
    </div>

    <div class="field">
      <%= form.label "Length (in seconds)", class: "label" %>
      <%= form.text_field :length, type: "number", class: "input" %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit 'Submit', class: "button is-link" %>
    </div>
  </div>
<% end %>
