<div class="block">
  <h2 class="title is-2">Your games</h2>

  <% if @games.exists? %>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= link_to "#{game.name}", game %></td>
          <td><%= made_on(game) %></td>
          <td><%= game.status %></td>
        </tr>
      <% end %>
      </tbody>

      <%= paginate @games %>
    </table>
  <% else %>
    <p class="block">
      You don't have any games right now.
    </p>
  <% end %>

  <br/>

  <%= link_to 'New Game', new_game_path, class: "button is-black" %>
</div>

<br/>

<div class="block">
  <h2 class="title is-2">Other active games</h2>

  <% if @other_games.exists? %>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>

      <tbody>
      <% @other_games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="block">
      No other games are active right now.
    </p>
  <% end %>
</div>
