<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<% if @game.stopped? %>
  <strong>(GAME IS FINISHED)</strong>
<% else %>
  <div data-controller="game" data-game-id="<%= @game.id %>">
    <div data-game-target="timeLeft">
      N/A
    </div>

    <strong>(started)</strong>

    <div data-controller="card" data-card-index-value="1">
      <button data-action="card#previous">←</button>
      <button data-action="card#next">→</button>

      <% @questions.each do |(card_id, question)| %>
        <div data-card-target="card" data-card-id="<%= card_id %>">
          <div class="field">
            <label class="label"><%= question %></label>
            <div class="control">
              <input class="input" type="text" placeholder="Answer">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
