<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<% if @game.stopped? %>
  <strong>(GAME IS FINISHED)</strong>
<% elsif @game.playing? %>
  <strong>(GAME IS STILL ACTIVE)</strong>
<% else %>
  <strong>(READY)</strong>
<% end %>


<% if !@game.stopped? && @play.ready? %>
  <%= link_to 'Start', start_game_path(@game), class: "button is-primary", method: :post %>
<% end %>
<% if @game.playing? && @play.playing? %>
  <%= link_to 'Continue playing', game_play_path(@game, @play.id) %> |
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
