<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<% if @game.stopped? %>
  <strong>(GAME IS FINISHED)</strong>
<% elsif @game.started? %>
  <strong>(GAME IS STILL ACTIVE)</strong>
<% else %>
  <strong>(READY)</strong>
<% end %>

<div class="search_bar">
  <%= form_with(url: game_plays_path(@game), method: :post, local: true) do |form| %>
    <%= content_tag :div, 'data-controller': "autocomplete", "data-autocomplete-url-value": game_player_search_index_path(@game) do %>
      <label>Add Players</label>
      <input type="text" placeholder="Type to search..." data-autocomplete-target="input"/>
      <input type="hidden" name="user_id" data-autocomplete-target="hidden"/>
      <%= tag :ul, 'data-autocomplete-target': 'results', class: 'list-group autocomplete' %>
    <% end %>

    <%= form.button "Add", name: nil %>
  <% end %>
</div>

<div>
  <h2>current players</h2>
  <ul>
    <% @players.each do |player| %>
      <li>
        <%= player.full_name %>
        <%= player.email %>
      </li>
    <% end %>
  </ul>
</div>

<% if !@game.stopped? && @play.created? %>
  <%= link_to 'Start', start_game_path(@game), class: "button is-primary", method: :post %>
<% end %>
<% if @game.started? && @play.started? %>
  <%= link_to 'Continue playing...', game_play_path(@game, @play.id) %> |
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
