<h2 class="title is-2"><%= @game.name %></h2>

<%= render partial: 'game_status' %>

<table class="table">
  <thead>
  <tr>
    <th colspan="1"></th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Score</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% winner = @game.winners %>
  <% @plays.each do |play| %>
    <% player = play.player %>
    <tr>
      <td>
        <% if player.avatar_url.present? %>
          <figure class="image is-32x32" style="margin-right:.5em;">
            <%= image_tag(player.avatar_url) %>
          </figure>
        <% else %>
            <span class="icon is-small">
              <i class="fas fa-portrait"></i>
            </span>
        <% end %>
      </td>
      <td><%= player.full_name %></td>
      <td><%= player.email %></td>
      <td><%= status(play) %></td>
      <td><%= points(play) %></td>
      <td><%= trophy(play) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @game.stopped? %>
  <h2 class="title">Your answers</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Front</th>
      <th>Back</th>
      <th>Your Answer</th>
    </tr>
    </thead>

    <tbody>
    <% @plays.find_by(user: current_user).answers.each do |answer| %>
      <tr>
        <td><%= answer.card.front %></td>
        <td><%= answer.card.back %></td>
        <td><%= answer.attempt %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if !@game.stopped? && @play.created? %>
  <%= link_to 'Start', start_game_path(@game), class: "button is-link", method: :post %>
<% end %>

<% if @game.started? && @play.started? %>
  <%= link_to 'Continue playing', game_play_path(@game, @play.id), class: "button is-link" %>
<% end %>
