<h1 class="title"><%= @game.name %></h1>

<% if @game.stopped? %>
  <span class="icon has-text-danger-dark">
    <i class="fas fa-2x fa-th-large"></i>
  </span>

  <strong>Game completed</strong>
<% elsif @game.started? %>
  <p>
      <span class="icon is-medium has-text-success">
    <i class="fas fa-2x fa-th-large"></i>
  </span>

  <h4 class="subtitle is-4">Game in progress</h4>
  </p>

<% else %>
  <span class="icon has-text-info">
    <i class="fas fa-2x fa-th-large"></i>
  </span>

  <strong>Ready</strong>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th colspan="1"></th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @players.each do |player| %>
    <tr>
      <td>
        <% if player.avatar_url.present? %>
          <figure class="image is-32x32" style="margin-right:.5em;">
            <%= image_tag(player.avatar_url) %>
          </figure>
        <% else %>
            <span class="icon is-small">
              <i class="fas fa-portrait"></i>
            </span>
        <% end %>
      </td>
      <td><%= player.full_name %></td>
      <td><%= player.email %></td>
      <td>Active</td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if !@game.stopped? && @play.created? %>
  <%= link_to 'Start', start_game_path(@game), class: "button is-link", method: :post %>
<% end %>

<% if @game.started? && @play.started? %>
  <%= link_to 'Continue playing...', game_play_path(@game, @play.id) %>
<% end %>

<% if @game.created? %>
  <%= link_to 'Edit', edit_game_path(@game), class: "button is-light" %>
<% end %>
