<%= form_with(model: [deck, card]) do |form| %>
  <div class="block">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <%= form.label :front, class: "label" %>
          <div class="control">
            <%= form.text_area :front, class: "textarea" %>
          </div>
        </div>
      </div>

      <hr class="navbar-divider">

      <footer class="card-content">
        <div class="field">
          <%= form.label :back, class: "label" %>
          <div class="control">
            <%= form.text_field :back, class: "input" %>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit 'Submit', class: "button is-link" %>
    </div>
  </div>
<% end %>
