<p id="notice"><%= notice %></p>

<p>
  <strong>Front:</strong>
  <%= @card.front %>
</p>

<p>
  <strong>Back:</strong>
  <%= @card.back %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @card.deck_id %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
