<%= form_with(model: deck) do |form| %>
  <div class="block">
    <div class="field">
      <%= form.label :name, class: "label" %>
      <div class="control">
        <%= form.text_field :name, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :difficulty, class: "label" %>
      <div class="control">
        <div class="select">
          <%= form.select :difficulty, options_for_select(Deck.difficulties.map { |key, value| [key.titleize, Deck.difficulties.key(value)] }, deck.difficulty) %>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit 'Submit', class: "button is-link" %>
      </div>
    </div>
  </div>
<% end %>
