<p id="notice"><%= notice %></p>

<h1 class="title">Decks</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Difficulty</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @decks.each do |deck| %>
    <tr>
      <td><%= link_to "#{deck.name}", deck %></td>
      <td><%= deck.difficulty %></td>
      <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
      <td><%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @decks %>

<%= link_to 'New Deck', new_deck_path, class: "button is-black" %>

