<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7" name="viewport"/>
  <meta content="en-EN" name="language"/>
  <meta content="Akshay Gupta" name="author"/>
  <title>勉強 Benkyou</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'partials/nav' %>

<main class="container is-vcentered mt-6">
  <%= render 'partials/flash', locals: { flash: flash } %>
  <%= yield %>
</main>
</div>
</body>
</html>

